dist/
build/

node_modules/
.npm/
yarn.lock
package-lock.json

__tests__/
__snapshots__/
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx

coverage/

.vscode/
.idea/
*.code-workspace

.git/
.gitattributes
.gitignore

*.d.ts

.eslintcache

.vite/
