@use "@styles/variables" as *;

.tracker {
  display: grid;
  position: relative;
  padding: 10px 10px 24px 10px;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  border-radius: 8px;
  background-color: $element-bg-color;

  &__status {
    padding: 8px;
    text-align: center;
  }

  &__list {
    display: grid;
    row-gap: 16px;
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 576px) {
  .tracker {
    &__title {
      font-size: 1rem;
    }

    &__icon {
      display: none;
    }
  }
}

@media (max-width: 320px) {
  .tracker {
    &__title {
      font-size: 0.5rem;
    }

    &__list {
      row-gap: 8px;
    }
  }
}
